UPS_NAME="UPS_NAME"
UPS_HOST="UPS_IP"
UPS_USER="CHANGE_ME"
UPS_PASS="CHANGE_ME"
ENABLE_IOMMU="true"

SMB1_NAME="media"
SMB1_SERVER="192.168.1.100"
SMB1_SHARE="media"

SMB2_NAME="backup"
SMB2_SERVER="192.168.1.100"
SMB2_SHARE="backup"

SMB_USER="your_username"
SMB_PASS="your_password"
